/* configuramos el cuerpo general de la página */

body {
    color: white; 
   background-color: black;
}

.gatito {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 70vh;
    background-image: url('https://unamigoloco.files.wordpress.com/2017/06/gato-abogado.png?w=1920&h=1080'); 
    background-repeat: no-repeat; 
    background-size: cover;
}
/* configuramos el fondo del formulario */

.form-background {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: white;
    color: #333;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

form textarea {
    margin-top: 15px;
}

.link-principal {
    font-size: 28px;
}

.link-principal a {
    color: white;
    margin-right: 10px;
}

.link-principal a:hover {
    color: cyan;
    margin-right: 10px;
    /* font-size: 50px; */
    /* transition-duration: .5s; */
}

.agradecimiento {
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.salto-pagina a{
    color: white;
}

.imagen1 {
    position: relative;
    height: 300px;
    width: 400px;
    margin: auto;
}

.imagen2 {
    position: relative;
    height: 550px;
    width: 500px;
    margin: auto;
}

.imagen3 {
    position: relative;
    height: 450px;
    width: 400px;
    margin: auto;
}

/* asi se escribe un comentario en css */